header h1 {
    margin-top: 0%;
    font-size: 38px;
    padding: 20px 0px 10px 5px;
}

.select-message {
    font-size: 28px;
    text-align: center;
    margin-top: 15px;
}

main {
    display: flex;
    justify-content: center;
}

.content {
    padding: 10px 10px 30px 10px;
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-container {
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.state-dropdown {
    width: fit-content;
}

.content-container {
    height: 600px;
    align-items: center;
}
button{
    background: none;
	color: inherit;
	border: none;
	padding: 5px 8px 5px 8px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

h2 {
    font-size: 32px;
}


.center-box{
    display: none;
    justify-content: center;
    width: 90vw;
    height: 50vh;
    margin: auto;
    padding: 1em;

}
#map{
    width: 80%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#text-directions {
    overflow: scroll;
    width: 20%;
    margin: 0px;
    padding: 0px;
}

#start-button-custom-search{
    background-color: blanchedalmond;
    border: 2px black solid;
    margin: 0 2vw;
}

#no-directions-aval{
    display: none;
    width: 100%;
    text-align: center;
}

#results-list{
    width: 50%;
    text-align: left;
    display: inline-block;
    gap: 3px;
}

#results-flex-box{
    display: flex;
    justify-content: center;
}

#park-info-list{
    display: none;
    padding: 0;
    margin-left: 3vw;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#park-info-img{
    height: 25vw;
    width: 25vw;
}

h3 {
    font-size: 28px;
}

.park-btn {
    text-align: start;
    margin: 3px 0px 3px 0px;
}

h4 {
    font-size: 24px;
}