header h1 {
    margin-top: 0%;
    font-size: 35px;
    padding: 20px 0px 10px 5px;
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;}

.container h2 {
    font-size: 28px;
}


.center-box{
    display: flex;
    justify-content: center;
    width: 90vw;
    height: 50vh;
    margin: auto;
    padding: 1em;
}
#map{
    width: 80%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#text-directions {
    overflow: scroll;
    width: 20%;
    margin: 0px;
    padding: 0px;
}